xml/xsd/estado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="www.aulaws.com.br" xmlns:ws="www.aulaws.com.br">


    <xs:complexType name="type_estado">
        <xs:sequence>
            <xs:element name="nome" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required" />
    </xs:complexType>

</xs:schema>